* {
    margin: 0;
    padding: 0;
}
body{
    font: 11px sans-serif;
}
div{
    display: block;
}
#mainContent, .HeaderSpacer {
    width: 964px;
    margin: 0 auto;
    color: #000;
}
#mainContent {
    font-family: "azo-sans",sans-serif;
    padding: 0 32px 40px 32px;
}
#mainContent form .row .inputOuter.passwordOuter {
    max-width: 345px;
    min-height: 38px;
}
[dir=rtl] #mainContent #pri {
    float: right;
}

#mainContent #pri {
    margin-top: 16px;
    width: 530px;
}

#mainContent .inputOuter, .ui-dialog .inputOuter {
    padding: 0 0 8px 0;
    position: relative;
}
#mainContent form .row .inputOuter.passwordOuter {
    max-width: 345px;
    min-height: 38px;
}

#mainContent .inputOuter, .ui-dialog .inputOuter {
    padding: 0 0 8px 0;
    position: relative;
}
#mainContent .row .inputOuter input {
    height: 32px;
    padding: 2px 3px 2px 33px;
    outline: 0;
    margin-top: 0;
    line-height: 32px;
}
#mainContent .inputOuter input, .ui-dialog .inputOuter input {
    font-size: 14px;
    width: 331px;
    border: 1px solid #c9c9c9;
    margin-top: 40px;
    margin-bottom: 40px;

}
#mainContent .SignInContainer .nxbtn.large.secondary {
    height: 48px;
    width: 369px;
    font-family: 'azo-sans',sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.6px;
    text-align: center;
    color: #fff;
    background-color: #1a6461;
    margin-top: 16px;
    border: #1a6461;
}
input, select {
    vertical-align: middle;
}
.nxbtn {
    border-radius: 3px;
    display: inline-block;
    padding: 4px 10px;
}
#mainContent .row .inputOuter.passwordOuter .ShowPasswordOuter a.ShowPassword {
    background-color: #f8f8f8;
    border: 1px solid #c9c9c9;
    border-right: none;
    min-width: 50px;
    position: relative;
    color: #000;
    text-align: center;
    height: 25px;
    padding: 10px 8px 1px 8px;
    font-size: 10px;
}


#mainContent.pw ul.tabs li.three {
    width: 284px;
}
.SignInContainer{
    background-color: #f8f8f8;
    padding: 31px;
    width: 389px;
    height: 400px;
    margin-top: 100px;
    margin-right: 40px;
    border-bottom: 1px solid #e4e4e4;
}
.ShowPasswordOuter {
    float: left;
    position: absolute;
    left: 0;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    line-height: 1.3em;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
#mainContent .row label {
    text-transform: uppercase;
    font-size: 11px;
    color: #000;
    font-weight: 500;
    margin-top: 6px;
}

#mainContent h2 {
    font: 12px/1.3 Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    padding: 5px;
    margin-bottom: 0.5em;
    max-width: 464px;
    position: relative;
}
#mainContent h2 span {
    color: #999;
    position: relative;
    top: auto;
    left: auto;
    font-weight: 0px;
    font-size: 32px;
    text-transform: uppercase;
    right: 5px;
}
#mainContent #sec {
    width: 415px;
}
#mainContent #nur, #mainContent #pri, #mainContent #sec, #mainContent #ter {
    position: relative;
    float: right;
}
#mainContent #sec .SecondaryContainer {
    margin-top: 40px;
    padding: 10px 0;
    text-align: center;
}
#mainContent h2 {
    font-size: 32px;
    font-weight: 500;
}

#mainContent h2, #mainContent h1 {
    background: none;
    margin-bottom: 0;
    padding: 0;
    font-family: "azo-sans",sans-serif;
}
#mainContent h2 {
    font: 32px;
    text-transform: uppercase;
    max-width: 464px;
    position: relative;
}
#mainContent h2 span {
    color: #999;
    position: relative;
    top: auto;
    left: auto;
    font-size: 32px;
    text-transform: uppercase;
}
#mainContent #sec .SecondaryContainer .nxbtn.primary.large {
    height: 48px;
    margin-top: 8px;
    color: #fff;
    font-family: 'azo-sans',sans-serif;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    vertical-align: middle;
    line-height: 48px;
    text-align: center;
    padding: 0 0 0 0;
    width: 369px;
    background: #222;
    font-size: 14px;
    letter-spacing: 1.6px;
}
#mainContent #sec  {
    top: -400px;
    left: -600px;
}